.breadcrumbs {
    position: absolute;
    transform: translate(10px,20px);
}
.breadcrumbs li {
    
    padding-left: 5px;
}
.breadcrumbs__item {
    display: inline-block;
}
.breadcrumbs__item a{
    text-decoration: none;
    color: #000000;
}
.breadcrumbs__link:hover {
    color: rgba(20, 228, 89, 0.877);
}
.breadcrumbs__item:not(:last-of-type)::after {
    content: ' >';
    margin: 0.5px;
    color: #777575f3;
}