button {
    max-width: 30px;
    width: 15px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0;
}
.counter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

