input[type=text] {
    padding: 12px 20px;
    width: 50%;
}
input[type=number]{
    padding: 12px 20px;
    width: 50%;
}
input[type=tel]{
    padding: 12px 20px;
    width: 50%;
}
input[type=date]{
    padding: 12px 20px;
    width: 50%;
}
.name {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 10px;
}
.date {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 10px;
}
.number {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 10px;
}
.code {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 10px;
}
