.payment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.items {
    margin-left: 50px;
   
}
.browse-items {
    margin-right: 10px;
    width: 50%;
    margin-top: 0;
}
.shoes {
    display: flex;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}
.watch {
    display: flex;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}
.Glasses {
    display: flex;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}
.items-name {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    max-width: 75px;
    padding: initial;
}
.content {
    display: flex;
}
.touch-icon {
    width: 65px;
    height: 65px;
    margin-right: 20px;
    background: #00cc67;
    padding: 4px 8px;
}
.payment-option {
    width: 50%;
    background-color: #80808073;
    height: 100vh;
    padding-top: 80px;
    padding-left: 20px;
}
.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 50%;
    background: #ffffff;
}
.touch-icon1 {
    width: 65px;
    height: 65px;
}
.submit {
    width: 50%;
    padding: 15px;
    background: #00cc67;
    margin-top: 10px;
}
.submit a {
    text-decoration: none;
    color: #ffffff;
}
.submit span {
    padding-left: 100px;
    transition: 0.4s ease-in-out;
}
.submit a :hover {
    color: greenyellow;
}
a {
    transition: 0.4s all ease-in-out;
}
